body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url('IMG-0197.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 950px; /* adjust to desired height */
  background-color: #006699;
  color: white;
  text-align: center;
  padding: 30px;
  
}

header h1 {
  font-family: 'Arial Black', sans-serif;
  font-size: 48px;
  margin: 0;
  text-shadow: 2px 2px #ff0000;
}

nav {
  background-color: #003366;
  color: white;
  padding: 20px; /* increased from 10px */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 24px; /* increased from default */
}

main {
  padding: 30px;
}

section {
  margin-bottom: 30px;
}

section h2 {
  margin-top: 0;
}

footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 10px;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  text-align: center;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: #f2f2f2;
  font-size: 1.2em;
  font-weight: bold;
}

td {
  font-size: 1.1em;
}

td.event {
  background-color: #ddffdd;
}

td.time {
  background-color: #ddddff;
}

td.workout-name {
    font-family: "Impact", sans-serif;
    color: #ff0000;
    font-size: 20px;
}
